.gradle/
build/
bin/
out/

.idea/
*.iml
*.iws
*.ipr
atlassian-ide-plugin.xml
com_zeroturnaround_jrebel_intellij_plugin_xml.xml

.vscode/

*.jar
*.war
*.ear

logs/
crash-reports/
run/
userContent/

.DS_Store
Thumbs.db

.cache/